<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="appName">${web:servletContextName}</Property>
		<Property name="fileName">.logs/bms/${appName}-${hostName}.log
		</Property>
		<Property name="filePattern">.logs/bms/${appName}-%d{yyyyMMdd}-${hostName}.log.gz
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8"
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${fileName}"
			filePattern="${filePattern}">
			<PatternLayout charset="UTF-8"
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="999" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<logger name="org.quartz" level="ERROR" />
		<logger name="org.springframework" level="ERROR" />
		<logger name="org.springframework.orm.jpa" level="ERROR" />
		<logger name="org.springframework.transaction" level="ERROR" />
		<logger name="org.mybatis.spring" level="ERROR" />
		<logger name="com.hab" level="DEBUG" />
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>


 